  @import './../../../styles/shared';

  .imprint {
    height: 93%;
    overflow-y: auto;
    margin: 24px;
    padding: 12px;
    @include dFlex($fd: column);
    text-align: center;
  }

  .imprint::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 4px;
  }